  
button{
    background-color: #eb4d4b;
    margin-top: 200px;
    padding: 10px 30px;
    border: 2px solid white;
    outline: 5px solid black;
}
div{
    width: 600px;
    height: 400px;
    background-color: #30336b;
    text-align: center;
}
#first{
    background-color: #f6e58d;
    margin-top: 20px;
    text-align: center;
}
label{
    display: block;
    padding-top: 10px;
    padding-bottom: 5px;
}
input{
    padding: 5px 10px;
    background-color:#ffbe76 ;
}
.btn{
    margin-top: 20px;
    padding: 7px 25px;
}
.btn:hover{
    background-color: red;
    color: white;
    border: 2px solid red;
    border-radius: 30px;
}
.btn:active{
    background-color: aqua;
    color: black;
    border-radius: 30px;
    border: 2px solid aqua;
}

ul{
    background-color: tomato;
    padding: 25px;
    list-style-position: inside;
}
li{
    background-color: violet;
    padding: 5px;
    border-bottom: 2px solid tomato;
}