*{
    margin: 0;
    padding: 0;
}
button{
    background-color: #eb4d4b;
    margin-top: 200px;
    padding: 10px 30px;
    border: 2px solid white;
    outline: 5px solid black;
}
div{
    width: 600px;
    height: 400px;
    background-color: #30336b;
    text-align: center;
}